@model SignInModel
@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post" asp-action="SignOutAsync">
        <button type="submit">sign out</button>
    </form>
}
else
{
    <form method="post" asp-action="SignInAsync">
        <label asp-for="Name">username</label>
        <input asp-for="Name" />
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <button type="submit">sign in</button>
    </form>
}
